* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

body{
    font-family: "Mukta Mahee", arial, sans-serif;
}

.playfair{
    font-family: "Abril Fatface", serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
    font-variation-settings: 
      "wdth" 100;
}

.mukta-mahee-extralight{
    font-family: "Mukta Mahee", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.container-div{
    height: 109vh;
    color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.205), rgba(0, 0, 0, 0.13)), url('background-img1/hero_1.jpg');
    background-size: cover;
    background-position: center center;
    min-height: 700px;
}

.header-div{
    display: flex;
    justify-content: space-between;
}

.hepta a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: inline-block;
    position: relative;
    margin-left: 15px;
    margin-top: 54px
}

.inner-anchortag{
    color: rgba(245, 242, 242, 0.74);
}

.menu-icon i{
    font-size: 40px;
    position: relative;
    margin-right: 20px;
    margin-top: 50px
}

.center-content{
    display: flex;
    justify-content: center;
    height: 100vh;
}

.center-content-div{
    text-align: center;
    margin-top: 106px;
}

.hero1-para{
    color: white;
    margin-top: 7px;
}

button{
    background: transparent;
    border: 2px white solid ;
    border-radius: 5px;
    padding: 15px 30px 17px 30px;
    margin-top: 56px;
    color: #fff;
    font-family: "Mukta Mahee", sans-serif;
    font-size: 15px;
    letter-spacing: 3px;
}

button:hover{
    background-color: white;
    color: black;
}

.scroll-down{
    position: relative;  
    min-height: 200px; 
    overflow: hidden; 
}

.scroll-down p{
    color: #fff;
    font-size: 12px;
    font-weight: 200;
    position: absolute;
    bottom: 5px; 
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (min-width: 800px) {
    .hero1-heading{
        font-size: 80px;
        font-weight: 700;
    }
    .hero1-para{
        font-size: 30px;
        font-weight: 200;
    }

}

.center-content-div div p :hover{
    color: white;
}

@media screen and (max-width: 680px){
    button{
        padding: 16px 150px;
    }
}

/*SECOND SECTION */

.container-div2{
    margin-top: 120px;
    margin-bottom: 130px;
    color: black;
    display: flex;
    flex-wrap: wrap;
}

.container-div2 img{
    width: 540px;
    height: 641px;
    /* height: 100vh; */
    margin-left: 114px;
    margin-top: 6px;
}

.flexbox2{
    margin-top: 160px;
    width: 570px;
    height: 378px;
    padding: 0px 15px 0 62px;
}

.flexbox2-h2{
    font-family: "Abril Fatface", times, serif;
    font-size: 32px;
}

.floating-para ~ p{
    color: #6c757d;
    line-height: 1.8;
    font-size: 18px;
    margin-top: 22px;
}

.video-link h3 a{
    color: rgba(53, 155, 155, 0.842);
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    margin-left: 60px;
    margin-bottom: 100px;
    text-decoration: none;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
}

.video-link h3 a i{
    margin-right: 22px;
    margin-top: 9px;
}

/* END OF SECTION  */

.container-div3{
    background-color: rgb(247, 244, 244);
    width: 98vw;
    /* height: 100vh; */
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section3{
    width: 910px;
    margin-top: 130px;
    margin-bottom: 50px;
}

.section3 h1{
    margin-bottom: 20px;
    text-align: center;
    display: block;
    font-size: 33px;
    font-weight: 500;
}

.section3 p{
    line-height: 40px;
    color: #6c757d;
    font-size: 18px;
    display: block;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, auto);
    /* gap: 10px; */
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.grid-item {
    padding: 20px;
    text-align: center;
}

.grid-item img{
    width: 75px;
    height: 90px;
    margin-bottom: 25px;
}

.grid-item h3{
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 500;
}

.grid-item p{
    color: #6c757d;
    font-size: 20px;
    line-height: 40px;
}


.tour-managment{
    margin-top: 150px;
}

.section4{
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section4-content{
    width: 750px;
}

.section4-content h1{
    font-size: 70px;
    text-align: center;
    font-weight: 500;
    line-height: 67px;
}

.section4-content p{
    font-size: 20px;
    color: #6c757d;
    text-align: center;
    margin-top: 20px;
    line-height: 40px;
}

.section4-image{
    margin-top: 75px;
    text-align: center;
}

.section4-image img{
    padding: 0px 10px;
    width: 1110px;
    height: 741px;
}

@media screen and (max-width: 1024px) { 
    .section4-image img{
        width: 930px;
        height: 500px;
    }
}
@media screen and (max-width: 768px) { 
    .section4-image img{
        width: 690px;
        height: 400px;
    }
}
@media screen and (max-width: 580px) { 
    .section4-image img{
        width: 450px;
        height: 300px;
    }
}



/* END OF SECTION  */

.recent-blog-post{
    background-color: rgb(48, 177, 177);
    /* height: 1150px; */
}

.section5{
    width: 98vw;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.section5-content{
    width: 810px;
    margin-bottom: 60px;
    
}

.section5-content h1{
    margin-top: 200px;
    text-align: center;
    font-size: 70px;
    font-weight: 500;
}

.section5-content p{
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 30px;
}

.container5-items{
    display: flex;
    justify-content: center;
    width: 98vw;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 100px;
}

.img-div{
    width: 350px;
    background-color: white;
    
}

.img-div h2 a{
    text-decoration: none;
    color: black;
}

.img-div span,p{
    color: #6c757d;
}
    
.img-div2{
    padding: 30px 25px;
    line-height: 35px;
}

.img-div2 p{
    padding-bottom: 10px;
    font-size: 18px;
}

/* END OF SECTION  */

.container6{
    padding-top: 120px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 150px;
    background-color: #f4f6f8;
}

.container6 h1{
    text-align: center;
    font-size: 70px;
    margin-bottom: 60px;

}

.happy-customers-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 20px;
    gap: 20px;
}

.happy-customers-content img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.person{
    width: 350px;
}

.happy-customers-content p{
    line-height: 30px;
    margin-bottom: 10px;
    color: black;
}

.happy-customers-content span{
    color: #6c757d;
}

/* END OF SECTION  */

.top-destination{
    margin-top: 130px;
    margin-bottom: 130px;
    width: 98vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.top-destination-content{
    
    text-align: center;
    width: 750px;
}

.top-destination-content p{
    font-size: 20px;
    line-height: 30px;
}

.top-destination-content h1{
    margin-bottom: 10px;
}

.top-destination-imgs{
    margin-top: 40px;
    min-width: 255px;
    min-height: 171px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    margin-left: 80px;
    margin-right: 80px;
}

@media screen and (max-width: 1024px) { 
    .top-destination-imgs {
        grid-template-columns: repeat(3, 1fr); 
    } 
}

@media screen and (max-width: 768px){ 
    .top-destination-imgs {
        grid-template-columns: repeat(2, 1fr); 
    }     
}

@media screen and (max-width: 580px) { 
    .top-destination-imgs {
        grid-template-columns: repeat(1, 1fr); 
    }     
}

.top-destination-imgs div{
    padding: 20px;
}

.top-destination-imgs div h3 a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

/* .half-star {
    position: relative;
    display: inline-block;
    color: #20c997; /* Teal Blue */
/* } */

/* .half-star::before {
    content: "\f2fc"; /* Unicode for full star in Ionicons */
    /* font-family: "Ionicons";
    position: absolute;
    overflow: hidden;
    width: 50%;
    color: #20c997; /* Teal Blue */
 /* }  */ */
*/ */

.reviews-star span {
    color: #20c997;
    font-size: 20px;
}

/* END OF SECTION  */

.footer{
    background-color: rgb(20, 20, 20);
    width: 100vw;
    height: fit-content;
    color: rgba(255, 255, 255, 0.596);
}

.footer-content{
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1024px) { 
    .footer-content {
        grid-template-columns: repeat(3, 1fr); 
    } 
}
@media screen and (max-width: 768px){ 
    .footer-content {
        grid-template-columns: repeat(2, 1fr); 
    }     
    /* .container-div2{
        margin-bottom: 90px;
    } */
}
@media screen and (max-width: 580px) { 
    .footer-content {
        grid-template-columns: repeat(1, 1fr); 
    }     

    /* .container-div2{
        margin-bottom: 50px;
    } */
}

.headingcolor{
    color: white;
}

.footer-content div{
    width: 200px;
    padding-top: 40px;
}

.no-dots {
    list-style: none;
}

.footer p,li,h3 {
    line-height: 1.8;
    margin-bottom: 10px;
    font-size: 18px;
}

.input-email input{
    background: transparent;
    border: none;
    border-bottom: 1px grey solid;
    padding: 5px 8px;
    font-size: 15px;
}

.input-email input::placeholder{
    font-style: italic;
}

.span-style p span{
    font-family: "Mukta Mahee", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.Subscribe p{
    font-family: "Mukta Mahee", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.copyrights-div p{
    border-top: 1px solid rgba(163, 161, 161, 0.349);
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
}

.social-media-icons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-bottom: 130px;
}

.i-colorchange{
    color: rgb(151, 149, 149);
}
